@import "../../Shared/styles/color.scss";
@import "../../Shared/styles/fonts.scss";

.profile-img img {
	width: 58%;
	border: 1px solid #ddd;
	box-shadow: 0 0 6px -4px;
	border-radius: 10px;
    padding: 5px;
}

.profile_content h2 {
    font-size: 30px;
}

.profile_content h3 {

    font-size: 26px;
}

.profile_content p {
    font-size: 19px;
    width: 90%;
	opacity: .7;
}
.profile_content_main {
	margin-left: 25px;
}
.profile_content li {
    /* list-style: none; */
    font-size: 18px;
    margin-top: 10px;
	font-weight: 500;
	opacity: .9;
	margin-left: 15px;

}
.profile_content {
    margin-top: 25px;
    // margin-left: 30px;
}