@import "../../Shared/styles/color.scss";
@import "../../Shared/styles/fonts.scss";

*{
  margin:0;
  padding: 0;
}
.header_section {
  background: linear-gradient(#000000b3, rgba(24, 23, 23, 0.7)),
    url("../../../images/header1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
  // transition: all 1s ease-in-out;
  // max-width: 100%;
  height: 100vh;
  overflow: hidden;
  // object-fit:cover;
}


canvas.tsparticles-canvas-el {
  position: absolute;
  margin-left: -52%;
}
// canvas.tsparticles-canvas-el {
  
// }

.header-content.text-center h1 {
	color: $light-color;
}
.header-content {
  color: $light-color;
  margin-top: 15%;
}
.type b {
  font-size: 48px;
  // color:$primary-color;
  color: transparent;
  -webkit-text-stroke: 2px $primary-color;
}
.header-content h3 {
  font-size: 18px;
  font-family: initial;
  color: rgb(205, 255, 195);
  font-weight: 400;
  opacity: $lg-o;

}
.header-content h1 {
  font-size: 53px;
  font-weight: 800;
 
  // opacity: $lg-o;

}
.header-content p {
	font-size: 20px;
	width: 55%;
	font-weight: 300;
    margin-left: 22%;
    opacity: $md-o;
    color: rgb(205, 255, 195);

}
.header-btn{
  margin-top: 8%;
}
.header-btn a{
    padding: 12px 24px;
	border: 2px solid $primary-color;
	border-radius: 30px;
	color: $light-color;
    font-weight: 600;
}
.header-btn a:hover{
  background-color: $primary-color;
  text-decoration: none;
  transition:.3s;
  padding: 13px 28px;

}
.header-btn a:active {
  background-color: #3a923d;
  // box-shadow: 0 5px #666;
  transform: translateY(4px);
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header_section {
 
   
    padding-bottom: 100;
    height: 60vh;
    overflow: hidden;
  }
  .header-content {
    color: #E9F5FF;
    margin-top: 26%;
  }
  .header-content h3 {
    font-size: 14px;
    font-family: initial;
    color: #cdffc3;
    font-weight: 400;
    opacity: 0.8;
  }
  .header-content h1 {
    font-size: 35px;
    font-weight: 800;
  }
  .type b {
    font-size: 25px;
    color: transparent;
    -webkit-text-stroke: 2px #11e044;
  }
  .header-content p {
    font-size: 16px;
    width: 76%;
    font-weight: 300;
    margin-left: 12%;
    opacity: 0.6;
    color: #cdffc3;
  }
  .header-btn {
    margin-top: 18%;
  }
  .header-btn a{

    padding: 10px 22px;
	border: 2px solid $primary-color;
	border-radius: 30px;
	color: $light-color;
    font-weight: 600;
}
}


