@import "../../Shared/styles/color.scss";

nav{
	z-index: 2;
}
#navbarNav {
	margin-left: 26%;
}
.nav-link {
	font-weight: 600;
    font-size:18px ;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: $primary-color;
}
.navbar-dark .navbar-nav .nav-link {
	color: $light-color;
}

.nav-item {
	margin-left: 20px;
}
.login-btn {
	margin-left: 18%;
//    color: #11e044 ;
}
.login-btn a {
	padding: 6px 24px;
	border: 2px solid $primary-color;
	border-radius: 30px;
	color: $light-color;
}
.login-btn a:hover{
	background: $primary-color;
	transition: .3s;
	padding: 7px 26px;

	color:$light-color;
	// text-decoration: none;
}