.App {
  text-align: center;
}
*{
  margin:0;
  padding: 0;
  /* box-sizing: border-box; */
  /* font-family: 'Mukta', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
.up_btn {
	font-size: 40px;

}
.up_btn svg:hover{
  color: #11e044;
  transition: .2s;
}


html {
  scroll-behavior: smooth;
}

